
/* 中央寄せ */
.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* フォント小さくする */
.small-text08 {
  font-size: 0.80em;
}

.small-text07 {
  font-size: 0.70em;
}

.small-text05 {
  font-size: 0.50em;
}

/* 下線 */
.underline {
  text-decoration: underline;
}

/* タイトルフォントの調整 */
.reveal h2 {
  font-size: 1.3em;
}